@use "../base";

.round-forward {
  padding: 18px;
  outline: none;
  border: none;
  width: auto;
  font-size: 18px;
  color: base.$primary-white;
  cursor: pointer;
  background-color: base.$primary-black;
  font-family: base.$helvetica-bold;
  transition: all 0.3s ease-out;
  display: block;
  border-radius: 100%;
  text-align: center;
}

.round-forward:hover {
  background-color: base.$primary-red;
  color: base.$primary-black;
}
