@use "../base";

.changePassword-grid {
    height: base.$height;
    justify-content: center;
    
    &-left {
        align-self: center;
    }

    &-right { 
        margin: 0;
        align-self: center;
    }
}

.form-stack {
    margin-top: 20px;
}

.form-field {
    width: 100%;
    max-width: 60%;
}