@use "../base";

.editProfile-grid {
    height: base.$height;
    justify-content: center;

    &-left {
        // margin: 25;
        align-self: center;
    }

    &-right {
        margin: 0;
        align-self: center;

    }
}

.form-stack {
    margin-top: 20px;

}

.profile-text-box {
    background-color: base.$grey-4;
}
