@use "../base";

.login-grid {
  height: base.$height;
}

.login-grid-child {
  height: 100%;
}

.login-form {
  height: 100%;
}

.login-form-stack {
  height: 100%;
  align-items: center;
  justify-content: center;
}

.login-form-row {
  width: 100%;
  max-width: 60%;
}

