@use "../base";

.login-grid {
  height: base.$height;
  justify-content: center;

  &-left {

  }

  &-right{
    margin: 0;
    align-self: center;
    justify-content: center;

  }
}

.form-stack {
  max-width: 25em;
  width: 100%;

  &-child {
    align-self: center;
  }
}

//.login{
//  display: flex;
//  height: base.$height;
//  width: 100%;
//  justify-content: center;
//
//  &-left {
//    flex: 1;
//  }
//
//  &-right {
//    padding-right: 20px;
//    flex: 1;
//    max-width: 25em;
//    align-self: center;
//    margin: auto;
//  }
//}

//.dual-button {
//  display: flex;
//
//  &-left{
//    flex: 1;
//    width: auto;
//  }
//
//  &-right{
//    justify-content: flex-end;
//    align-self: center;
//  }
//}

