@use "../base";

.login-grid {
  height: base.$height;
  justify-content: center;

  &-left {

  }

  &-right{
    margin: 0;
    align-self: center;

  }
}

.form-stack {
  max-width: 25em;

  &-child {

  }
}

.link-form-button {
  text-decoration: none;
}

.dual-button {
  width: 100%;
}

