@use "../base";

.changePassword-grid {
    // height: base.$height;
    // justify-content: center;

    &-left {
        // align-self: center;
    }

    &-right {
        // margin: 0;
        // align-self: center;
    }
}

.form-stack {
    // margin-top: 20px;
    align-items: flex-start;
}

.form-field {
    width: 100%;
    background-color: base.$grey-4;
}

.text-field {
    text-align: left;
    vertical-align: top;
}

.change-password-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px;
}

.settings-text{
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    font-family: Helvetica-Bold, serif;
    width: 100%;
    text-align: center;
}

.change-password-text{
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    font-family: Helvetica, serif;
    width: 100%;
    text-align: center;
}

.options-card-background {
  background-color: base.$grey-4;
}

.options-card-heading {
  padding-top: 10px;
  padding-left: 10px;
  color: base.$primary-white;
  user-select: none;
}