@use "../base";

.edit-profile-info-text{
    padding-top: 20px;
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    font-family: Helvetica-Bold, serif;
    width: 100%;
    text-align: center;
}

.text-field{
    text-align: left;
    vertical-align: top;
}

.profile-table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px;
}

.editProfile-grid {
    height: base.$height;
    justify-content: center;

    &-left {
        // margin: 25;
        align-self: center;
    }

    &-right {
        margin: 0;
        align-self: center;

    }
}

.form-stack {
    margin-top: 20px;

}