.edit-profile-info-text{
    padding: 20px;
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    font-family: Helvetica-Bold, serif;
    width: 100%;
    text-align: center;
}

.text-field{
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.profile-table{
    width: 100%
}