#root, html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}

@font-face {
  font-family: Helvetica;
  src: url("../../resources/newfonts/Helvetica.ttf") format("truetype");
}
@font-face {
  font-family: Helvetica-Italic;
  src: url("../../resources/newfonts/Helvetica-Italic.ttf") format("truetype");
}
@font-face {
  font-family: Helvetica-Light;
  src: url("../../resources/newfonts/Helvetica-Light.ttf") format("truetype");
}
@font-face {
  font-family: Helvetica-Light-Italic;
  src: url("../../resources/newfonts/Helvetica-Light-Italic.ttf") format("truetype");
}
@font-face {
  font-family: Helvetica-Bold;
  src: url("../../resources/newfonts/Helvetica-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Helvetica-Bold-Italic;
  src: url("../../resources/newfonts/Helvetica-Bold-Italic.ttf") format("truetype");
}
a {
  display: block;
  text-decoration: none;
  color: #000000;
}

body {
  font-family: Helvetica, serif;
  color: #000000;
  margin: 0;
  padding: 0;
}
body--emphasise {
  color: #FF0000;
}

h1 {
  font-family: Helvetica-Bold, serif;
  color: #000000;
  font-size: 25em;
}
h1--emphasise {
  color: #FF0000;
}

h2 {
  font-family: Helvetica-Bold, serif;
  font-size: 12rem;
}
h2--emphasise {
  color: #FF0000;
}

h3 {
  font-family: Helvetica, serif;
  font-size: 2.5rem;
  margin: 0;
}
h3--emphasise {
  color: #FF0000;
}

h4 {
  font-family: Helvetica, serif;
  font-size: 2rem;
  margin: 0;
}
h4--emphasise {
  color: #FF0000;
}

h5 {
  font-family: Helvetica, serif;
  font-weight: normal;
  font-size: 1.8rem;
  margin: 0;
}
h5--emphasise {
  color: #FF0000;
}

h6 {
  font-family: Helvetica-Light, serif;
  font-weight: normal;
  margin: 0;
  font-size: 1.1rem;
}

.home-page-title {
  background-color: #5C5C5C;
  user-select: none;
  transition: all 0.3s ease-out;
}

.home-page-sub-title {
  background-color: #999999;
  user-select: none;
  transition: all 0.3s ease-out;
}

.sub-title-text {
  font-family: Helvetica-Bold, serif;
  color: #FFFFFF;
}

.home-page-card-background {
  background-color: #C4C4C4;
  overflow: hidden;
  user-select: none;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
}

.navbar-black {
  background: #000000;
  height: 80px;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  overflow: auto;
  width: 100%;
  user-select: none;
}

.navbar-red {
  height: 10px;
  display: flex;
  background: #FF0000;
  user-select: none;
}

.logo-social {
  font-family: Helvetica-Light, serif;
  color: #FFFFFF;
}

.logo-scene {
  font-family: Helvetica-Bold, serif;
  color: #FFFFFF;
}
.logo-scene-emphasise {
  font-family: Helvetica-Bold, serif;
  color: #FF0000;
}

.navbar-logo {
  float: left;
  margin: auto;
  width: auto;
  padding-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  padding-top: 20px;
  user-select: none;
}

.navbar-enter-button {
  float: right;
  margin: auto;
  width: auto;
  padding-right: 20px;
  padding-top: 20px;
  text-decoration: none;
}

/*# sourceMappingURL=Navbar.css.map */
