@use "../base";

.club-detail-heading {
  padding: 10px;
  color: base.$primary-white;
  background-color: base.$grey-4;
  user-select: none;
}

.club-detail-background {
  background-color: base.$grey-4;
}

.club-detail-user-frame {

}

