@use "../core/base";

.club-detail-heading {
  padding: 10px;
  color: base.$primary-white;
  background-color: base.$grey-3;
  user-select: none;
}

.club-member-heading {
  color: base.$primary-white;
  user-select: none;
}


