@use "../base";

.club-listing {
    width: 26rem;
    //height: 10rem;
    background-color: base.$grey-4;
    transition: all 0.3s ease-out;
    user-select: none;
    cursor: pointer;
}

.club-listing:hover {
    background-color: base.$grey-5;
}

.club-listing-left-stack {
    height: 100%;
    align-items: center;
    justify-content: center;
}

.club-listing-image{
    padding: 10px;
    align-self: center;
}

.club-listing-button{
    text-align: center;
    padding-bottom: 10px;
    //padding: 10px;
}

.club-listing-right-stack {
    height: 100%;
    justify-content: center;

}

.club-listing-text {
    justify-content: center;
    flex-grow: 1;
}

.club-listing-club-chip {
    margin-right: 10px;
}

.club-listing-club-name {
    color: base.$primary-black;
    font-family: base.$helvetica;
}

.club-listing-avatars {
    padding-bottom: 10px;
    align-self: flex-start;
}

