@use "../base";

.btn {
  padding: 8px 20px;
  outline: none;
  border: none;
  font-size: 18px;
  color: base.$primary-black;
  cursor: pointer;
  background-color: base.$primary-white;
  font-family: base.$helvetica-bold;
  border-radius: 99em;
  }

.btn:hover {
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  background-color: base.$primary-red;
  color: base.$primary-white;
  border-radius: 99em;
}

.test {

}
