@use "../core/base";

.show-event-title {
  font-family: base.$helvetica-light;
  color: base.$primary-white;
}

.show-event-title-movie {
  font-family: base.$helvetica;
  color: base.$primary-black

}

.show-event-organiser-title {
  font-family: base.$helvetica-light;
  color: base.$primary-white;
 }

.show-event-organiser-name {

 }