@use "../base";

.form-button {
  margin: 0;
  padding: 18px;
  outline: none;
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 18px;
  color: base.$primary-white;
  background-color: base.$primary-black;
  font-family: base.$helvetica-bold;
  transition: all 0.3s ease-in-out;
  border-left: 0 solid base.$primary-black;
  user-select: none;

}
.form-button#normal:hover {
  cursor: pointer;
  background-color: base.$grey-4;
  color: base.$primary-black;
}

.form-button#primary:hover {
  cursor: pointer;
  border-left: 10px solid base.$primary-red;
  background-color: base.$grey-4;
  color: base.$primary-red;
}

.form-button#disabled:hover {
  cursor: not-allowed;
}
