@use "../core/base";

.name-header {
    background-color: base.$grey-1;
    user-select: none;
}

.name-header-text{
    font-family: base.$helvetica-light-oblique;
    color: base.$grey-4;
    font-size: 1.3em;
}

.name-header-name{
    color: base.$primary-white;
    font-family: base.$helvetica-bold;
}

.name-header-username {
    color: base.$grey-3;
    font-family: base.$helvetica;
}