@use "../base";

.name-header {
    background-color: base.$grey-1;
    user-select: none;
}

.name-header-text{
    font-family: base.$helvetica-light;
    color: base.$grey-4;
    font-size: 1.3em;

}

.name-header-name{
    color: base.$primary-white;
    font-family: base.$helvetica;
}

.name-header-text-date {
    color: base.$grey-4;
    font-family: base.$helvetica-light;
}