@use "../core/base";

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
}

.navbar-black {
  background: base.$primary-black;
  height: 80px;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  overflow: auto;
  width: 100%;
  user-select: none;
}

.navbar-red {
  height: 10px;
  display: flex;
  background: base.$primary-red;
  user-select: none;
}

.logo-social {
  font-family: base.$helvetica-light;
  color: base.$primary-white;
}

.logo-scene {
  font-family: base.$helvetica-bold;
  color: base.$primary-white;

  &-emphasise {
    font-family: base.$helvetica-bold;
    color: base.$primary-red;
  }
}


.navbar-logo {
  float: left;
  margin: auto;
  width: auto;
  padding-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  padding-top: 20px;
  user-select: none;
}

.navbar-enter-button {
  float: right;
  margin: auto;
  width: auto;
  padding-right: 20px;
  padding-top: 20px;
  text-decoration: none;
}


