@use "../base";

z.sidebar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebar-list{
    margin: 0;
    padding: 0;
    width: 100%;
}

.sidebar-list .sidebar-text{
    font-family: base.$helvetica;
}
.sidebar-list .sidebar-list-item{
    background-color: base.$grey-4;
    box-sizing: border-box;
    width: 100%;
    height: 4em;
    list-style-type: none;
    border-left: 10px solid base.$grey-3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
    font-family: base.$helvetica;
}

.sidebar-list .sidebar-list-item:hover{
    cursor: pointer;
    border-left: 10px solid base.$pale-red;
    background-color: base.$grey-3;

}

.sidebar-list #active{
    font-family: base.$helvetica;
    background-color: base.$grey-2;
    border-left: 10px solid base.$primary-red;

}

.sidebar-list-link-box {
    height: 100%;
    width: 100%;
    align-items: center;

}

.sidebar-list-link-text {
    padding-left: 10px;
    height: 100%;
    width: calc(100% - 10px);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    user-select: none;
    font-family: inherit;
}
