@use "../core/base";

.signup-grid {
  height: base.$height;
}

.signup-form {
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.signup-form-stack {
  height: 100%;
  align-items: center;
  justify-content: center;
}

